@font-face
{
	font-family: 'Roboto-Bold';
	src: url('Font/Roboto-Bold.tff');
}

body
{
	padding: 0;
    margin: 0;
    font-size: 1em;
	background-color: rgb(255,255,255);
	font-family: 'roboto', sans-serif;


}


.section_title_underline /*dessous de titre*/
{
    margin: 20px 0;
    text-align: center;
}

.section_title_underline span, .section_title_underline i /*dessous de titre*/
{
  display: inline-block;
  vertical-align: middle;
}

.section_title_underline i /*dessous de titre*/
{
    height: 16px;
    width: 16px;
    color: #5CADD3;
    background-color: white;
    border-radius: 50%;
    border: solid white 4px;
}

.section_title_underline .outer-line /*dessous de titre*/
{
    width: 60px;
    border-bottom: 1px solid #ddd;
}


/*------------------------------------HEADER-----------------------------------*/



header
{
	overflow: hidden;  
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF; 
  z-index: 1000;
  
}

header::after 
{
	content: '';
	display: table;
	clear: both;
	height: 20px

}

ul /*on enlève les puces*/
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, p, label /*couleur du text*/
{
    color: #555;
}

a:hover /*couleur au survol*/
{
    color: #5CADD3;
}

#logo_menu1 /*logo et images menu*/
{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #656565;
   
}


.ul1 /*liste menu*/
{
    display: flex;
    list-style-type: none;
    padding-top: 5px

}

.ul1 .a1 /*liste menu et liens*/
{
    display: flex;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
}

.a1:hover /*liens menu survol*/
{
    border-top: 2px #5CADD3 solid;

}



.flex /*pour les images*/
{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
        
    
}

/*-------------------------SLIDER----------------------------------*/


#slider_container
{
	width: 100%;	
	overflow: hidden;
    padding-top: 50px
	
}

#slider_container input
{
    display: none;
}

.slider__inner
 {
 	
	display: flex;
	width: 400%;
	transition: transform 1s;
	z-index: 200;
	overflow: hidden;

}

.slide 
{
	position: relative;
	width: 25%;
	margin: 0;

}

.slide__image 
{
	display: block;
	width: 100%;
	height: auto;
}

.slider__nav 
{
	position: absolute;
	z-index: 3;
	top: 45%;
	width: 100%;
	height: 20%;
	transform: translateY(-50%);
}

.slider__nav__chevron 
{
	display: none;
	width: 3%;
	height: 50%;
	background-color: black;
	opacity: 0.2;
	cursor: pointer;
	z-index: 3;
}

#slide-1:checked ~ .slider__inner {
    transform: translateX(-0%);
}

#slide-2:checked ~ .slider__inner {
	transform: translateX(-25%);
}



.slider__nav__chevron:nth-child(1), 
.slider__nav__chevron:nth-child(1){
	display: block;
	float: left;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-image: url();
	background-repeat: no-repeat;
	background-position:right;
	background-size: 125%,125%;
	  }

.slider__nav__chevron:nth-child(2),
.slider__nav__chevron:nth-child(2) {
	display: block;
	float: right;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	background-image: url();
	background-repeat: no-repeat;
	background-position:left;
	
}



.fleche_slide 
{
	position: absolute;
	z-index: 1;
	top: 15%;	
	height: 20%;
	color: #FFFFFF;
}

.fleche_slide2 
{
	position: absolute;
	z-index: 1;
	top: 15%;
	right: 0;
	color: #FFFFFF;

}

#text_slide
{
	color: #FFFFFF;
	position: absolute;
	z-index:10;
	padding-top: 10%;
	margin-left: 10%;
	width: 30%;

}
	 
#text_slide span
{
	color: #3491b2;
}


#small_text_slide
{
	color: white;
}

#bouton1
{
	margin-top: 50px;
}

.bouton1 
{
	
	color: white;
	text-decoration: none;
	background-color: rgb(50, 150, 180);
	padding: 2.5% 5% 2.5% 5%; 
}



/*--------------------------SERVICE---------------------*/

#services/*section services*/
{
    padding-top: 100px;
    padding-bottom: 100px;
}

#ti_services/*titre et sous titre*/
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#services > div /*images et services*/
{
    max-width: 100%;
}

#services > div.flex /*images et services*/
{
    flex-wrap: wrap;
}

#services img /*images services*/
{
    align-self: center;
}

.main_feature img /*images et services*/

{
    width: 100%;
}

.te_services/*sous titre*/
{
    width: 28%;
}

#services ul.services /*images et services*/
{
    margin-top: 20px;
    overflow: auto;
}

#services ul li.services /*images et services*/
{
    margin-bottom: 30px;
}

#services li.service.flex /*images et services*/
{
    flex-wrap: wrap;
    margin-bottom: 34px;
}

.service .service_icon /*services ico*/
{
    position: relative;
    margin-right: 24px;
}

.service .service_icon i:first-child /*services ico*/
{
    color: #5CADD3;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid #D7D7D7 1px;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    padding: 0;
    font-size: 1.6em;
}

.service .service_icon i.fa-circle /*services ico*/
{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(100% - 10px);
    color: #5CADD3;
    background-color: white;
    border-radius: 50%;
    border: solid white 2px;
}

#services li div.flex /*images et services*/
{
    flex-wrap: wrap;
    flex-direction: column;
        
}

#services li h3 /*images et services*/
{
    margin: 0 0 4px 0;
}

#services li p /*images et services*/
{
    margin: 0 auto;
    max-width: 450px;
}

/*------------------------------------SECTION   PROJET------------------------------*/

#container_projets
{
		background-color: #F5F5F5; 
}

#nos_projets/*titre et sous titre*/
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.ti_projets/*sous titre*/
{
    width: 35%;
}

 /*----------menu nos Projets-------*/


#tabs /*on commence ici les tab */
{
    position: relative;
    width: 100%;
    margin-top: 80px;
    padding-top: 80px;
}

.tab /*tab*/
{
    width: 100%;
    margin: 20px;
}

.tab label /*tab*/
{
    display: block;
    position: absolute;
    top:0;
    width: 80px;
    padding: 10px;    
    z-index: 3;
    text-align: center;
    background: #E5E5E5;
    transition: all 0.3s;
 
}

.tab label:hover /*tab*/
{
    color: white;
    background: #5CADD3;
    border-bottom: solid 3px #468CAD;
    cursor: pointer;
}


.tab label[for=tab-1] /*tab*/
{
    left: calc(50% - 200px);
}

.tab label[for=tab-2] /*tab*/
{
    left: calc(50% - 100px);
}

.tab label[for=tab-3] /*tab*/
{
    left: 50%;
}

.tab label[for=tab-4] /*tab*/
{
    left: calc(50% + 100px);
}

.tab label i /*tab*/
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -13px;
    color: #468CAD;
    
}

#tabs div:first-child label /*tab */
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


#tabs div:last-child label /*tab*/
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.tab input[type=radio] /*tab*/
{
    display: none;
}



input[type=radio]:checked ~ label /*tab bouton*/
{
    background-color: #5CADD3;
    color: white;
    z-index: 2;   
    border-bottom: solid 3px #468CAD;
}

input[type=radio]:not(:checked) ~ label /*tab bouton*/
{
    border-bottom: solid 3px #E5E5E5;
}

input[type=radio]:not(:checked) ~ label i /*tab bouton*/
{
    display: none;
}



/*-------------Projets Protfolio --------------*/

#Projets
{	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 85%;
	margin: 0 auto;
}

#Projets figure
{
	position: relative;
	width: 255px;
	height: 170px;
	margin: 15px;
	overflow: hidden;
}

#Projets figure img
{
	width: 100%;
}

.mask_text
{
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 50%;
	margin-top: 4%;
    transition: transform 1s; 
}

figure:hover .mask_text
{
	display: block;
	opacity: 0.8;
    transform: translateY(-68px);
}

.text_img
{
	text-align: center;
	color: white;
	padding-top: 5.7%;
}

.fa-eye
{
	position: absolute;
	border-radius: 50%;
	border: 1px solid white;
	padding: 2.2%;
	color: white;
	background-color: rgb(50,150,180);
	margin-left: 88%;
	margin-top: -5%;
	opacity: 1;
}
/*------------------ SECTION CONTACT------------------------*/


#contact 
{
    position: relative;
    margin-top: 150px;
}
#google_maps
{
    z-index: 1
}
#google_maps, #conteneur_contact, #blue
{
    width: 100%;
    position: absolute;
    height: 600px;
}
#blue
{
    background-color: rgba(92,173,211, .4);
    position: absolute;
    z-index: 2
    

}
#conteneur_contact 
{
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form 
{
    background-color: rgba(255,255,255, .8);
    width: 300px;
    height: 70%;
    margin: 40px 150px;
    padding: 20px; padding-right: 30px;
    border-radius: 3px;
}

form h2 
{
    padding: 0px;
    margin: 0px;
    font-size: 180%;
}

input 
{
    width: 100%;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-left: 10px; 
}

textarea 
{
    width: 100%;
    height: 100px;
    border-radius: 3px;
    padding-left: 10px;
}

.bouton 
{
    color: white;
    background-color: rgb(92,173,211); 
    border-bottom: 3px solid rgb(70,140,173);
    border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
}

/*------------------------------------RESPONSIVE-----------------------------------*/
@media all and (max-width: px) 

{ 

}
@media all and (max-width: 900px) 

{ 	
	#slider_container 
	{  display: none; }
	.slider 
    { display: none; }
	#container_services 
	{ flex-direction: column; }	
	#container_services i 
	{ display: none;	}	
	.mask
    {margin-top: 15%;}	
	.fa-eye
    {	visibility: hidden;	}
   
}



@media all and (max-width: 600px)
{
    #logo 
    { display: none;   }
    #container_contact 
    { display: inline-flex;  }
    .section_title_underline span
    { display: none; }
    #tabs
    {   width: 70%; margin-left: 50px} 
    #services /*services*/ 
    {    flex-direction: column;
            -webkit-flex-direction: column;
        text-align: center;    }
         .ti_projets/*projets titre et sous titre*/
    {       width: 100%;    }
     #logo_menu1 
    {
        flex-direction: column;       
        justify-content: center;
        align-items: center;
        text-align: center;    }
    section#services, section#portfolio
    {  padding-top: 200px; }

    #google_maps, #conteneur_contact 
    {  position: relative;}
  
    
}


@media all and (max-width: 400px) 
{
    #tabs
    {   display: none} 
    .mask_text
    { display: none }
}