
.images_projets
{
  margin-top: 50px;
  margin-right: 5px;
  text-align: center;
}

.images_projets img
{
  margin-top: 20px;
  margin-right: 20px;
  width: 20%;

}


.container 
{	
  	position: relative;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 20%;
  height: 0;
  transition: .5s ease;
  opacity: 0.5;
}

 


.container:hover .overlay {
  height: 50%;
  width: 20%;
}

.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}