
/********* SLIDER CONTROL *********/

.slider__controller {
	display: none;
}

/********* SLIDER INNNER *********/

.slider__inner {
	display: flex;
	width: 400%;
	transition: transform 1s;
}

/********* SLIDE *********/

.slide {
	position: relative;
	width: 25%;
	margin: 0;
}

.slide__image {
	display: block;
	width: 100%;
	height: auto;
}

.slide__caption {
	position: absolute;
	z-index: 2; /*a voir*/
	top: 50%;
	left: 50%;
	font-size: 3em;
	color: #F8F9FA;
	transform: translate(-50%, -50%);
}

/********* SLIDER NAVI *********/

.slider__nav {
	position: absolute;
	z-index: 3; /* si valeur inf à 3, plus possible de slide à gauche*/
	top: 50%;
	width: 100%;
	height: 17%;
	transform: translateY(-50%);
}

.slider__nav__chevron {
	display: none;
	width: 3%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0.5;
	cursor: pointer;
}

/********* SLIDER INNE ANIM *********/

#slide-1:checked ~ .slider__inner {
}

#slide-2:checked ~ .slider__inner {
	transform: translateX(-25%);
}

/********* SLIDER NAVI ANIM *********/


#slide-2:checked ~ .slider__nav > .slider__nav__chevron:nth-child(1), /*j'envisage une autre approche pour le slider*/
#slide-1:checked ~ .slider__nav > .slider__nav__chevron:nth-child(1){
	display: block;
	float: left;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	background-image: url("images/slider/navi_gauche.png");
	background-repeat: no-repeat;
	background-position:right;
	background-size: 125%,125%;
}

#slide-1:checked ~ .slider__nav > .slider__nav__chevron:nth-child(2),
#slide-2:checked ~ .slider__nav > .slider__nav__chevron:nth-child(2) {
	display: block;
	float: right;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	background-image: url("images/slider/navi_droite.png");
	background-repeat: no-repeat;
	background-position:left;
	background-size: 125%,125%;
}
